@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MazdaTypeTTMedium';
    src: local('MazdaTypeTTMedium'), url('./src/assets/fonts/Mazda-Type-TT-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MazdaTypeTTRegular';
    src: local('MazdaTypeTTRegular'), url('.src/assets/Mazda-Type-TT-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    letter-spacing: 2.56px;
}



.font-mazda-medium {
    font-family: "MazdaTypeTTMedium";
}

.font-mazda-regular {
    font-family: "MazdaTypeTTRegular";
}